<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <title>Smartphone Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <th:block th:each="Smartphone : ${Smartphones}">
        <tr>
            <td th:text="${Smartphone.getId()}"></td>
            <td th:text="${Smartphone.getOS()}"></td>
            <td th:text="${Smartphone.getName()}"></td>
        </tr>
    </th:block>
</table>
<p>Hello World</p>
</body>
</html>