<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <title>Smartphone Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">SmartphoneShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Smartphones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/Apple">Apple</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/Android">Android</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contacts</a>
                    </li>
                </ul>
                <div style="margin-left: 550px ">
                    <a type="button" class="btn btn-primary" href="/registration">SignUp</a>
                    <a type="button" class="btn btn-primary" href="/authorization">SignIn</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="form-group">
    <form action="#" th:action="@{/authorization}" th:object="${user}" method="post" >
        <div><label>login: <input type="text" th:field="*{login}" /></label></div>
        <div><label>password: <input type="password" th:field="*{password}" /></label></div>
        <div><button type="submit">Sign In</button></div>
    </form>
</div>
<footer class="container mt-4 navbar-fixed-bottom row-fluid">
    <p>© 2021 Все права защищены by Sanya, Egorka & Andrey <a href="#">Соглашение</a> </p>
</footer>
</body>
</html>